<mat-toolbar class="f-space-between" color="primary">
    <form [formGroup]="queryForm" class="d-flex flex-layout-b">
        <mat-form-field color="accent" class="mr-56">
            <mat-label>Find</mat-label>
            <input matInput [placeholder]="param" autocomplete="off" formControlName="query">
            <button *ngIf="query" mat-icon-button matSuffix aria-label="Cancel" (click)="reset()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-radio-group *ngIf="status" color="accent" aria-labelledby="State All, In or Out" formControlName="status">
            <mat-radio-button class="mr-16" *ngFor="let state of states" [value]="(state === 'ALL' ? '' : state)" [checked]="(state === 'ALL' ? true : false)">
                {{state}}
            </mat-radio-button>
        </mat-radio-group>
    </form>
    <button *ngIf="withAction" mat-icon-button aria-label="Cancel" (click)="action.emit(false)">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>