.container {
    width: 80%;
    max-width: 1280px;
    margin: 56px auto;

    @media screen and (max-width: $tablet) {
        width: 90%;
    }
}

.footer {
    height: 140px;
    background: $color;
    @extend .d-flex;
    @extend .flex-layout-c;
}